@charset "utf-8";
.eventWrap {
    width: 1200px;
    height: auto;
    margin: 160px auto 100px;
}
.eventWrap h2 {
    font-size: 3rem;
    text-align: center;
    color: #052c69;
    margin: 0 auto 60px;
}
.eventTable {
    width: 100%;
    height: auto;
}
.eventTable .eventTitle {
    display: flex;
    width: 100%;
    height: 60px;
    line-height: 58px;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid #052c69;
    border-bottom: 1px solid #ccc;
}
.num {width: 8%;}
.title {width: 43%;}
.writer {width: 14%;}
.state {width: 15%;}
.date {width: 20%;}
.eventTable .content {
    display: flex;
    height: 60px;
    line-height: 58px;
    font-size: 1.6rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.eventTable .title:hover a {text-decoration: underline;}
.eventTable .content .title a {
    width: 90%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto;
}
.addCon {
    width: 100%;
    height: 45px;
    margin: 30px 0 50px;
}
.addCon a {
    position: relative;
    width: 130px;
    line-height: 43px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #052c69;
    border: 1px solid #052c69;
    padding: 0 25px;
    float: right;
    z-index: 1;
}
.addCon a span {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../img/icon/pencil.svg) no-repeat center/contain;
    float: left;
    margin: 14px 6px 0 0;
}
.addCon a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #052c69;
    transition: .3s;
}
.addCon a:hover {color: #fff;}
.addCon a:hover span {
    background: url(../img/icon/pencil_white.svg) no-repeat center/contain;
    color: #fff;}
.addCon a:hover::after {width: 100%; z-index: -1;}
.btnWrap {
    display: flex;
    width: 210px;
    height: 30px;
    margin: 50px auto 0;
    justify-content: space-between;
}
.btnWrap button {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}
.btnWrap button span {
    line-height: 15px;
    font-size: 2.8rem;
    color: #052c69;
}
.btnWrap p {
    display: flex;
    width: auto;
    height: 25px;
    text-align: center;
    font-size: 1.6rem;
}
.btnWrap p a {
    width: 15px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
}
.btnWrap p a:hover, .btnWrap p a:focus {border-bottom: 1px solid #242424;}



/************ 문의하기(qna_write) ************/
.qnaWrap {
    width: 1200px;
    height: auto;
    margin: 160px auto 100px;
}
.qnaWrap h2 {
    font-size: 3rem;
    text-align: center;
    color: #052c69;
    margin: 0 auto 30px;
}
.manageArea {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: flex-end;
}
.manageArea button {
    width: 100px;
    height: 40px;
    line-height: 38px;
    font-size: 1.4rem;
    color: #052c69;
    border-radius: 5px;
    border: 1px solid #052c69;
    margin-left: 10px;
}
.manageArea button:hover {
    color: #fff;
    background-color: #052c69;
}
.qnaWrap form {
    width: 100%;
    height: auto;
    border-top: 2px solid #052c69;
    margin-top: 20px;
}
form .qna {
    display: flex;
    width: 100%;
    height: 75px;
    font-size: 1.6rem;
    border-bottom: 1px solid #ddd;
}
form .qna label {
    width: 150px;
    line-height: 73px;
    text-align: center;
    font-weight: bold;
    background-color: rgba(5, 44, 105, 0.05);
}
form .qna .qnaInner {
    position: relative;
    width: calc(100% - 150px);
    padding: 0 3%;
}
form .qna .qnaInner select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 80%;
    height: 45px;
    line-height: 43px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin-top: 15px;
}
form .qna .qnaInner .arrow {
    position: absolute;
    top: 32px;
    right: 24%;
    width: 13px;
    height: inherit;
}
form .qna .qnaInner .arrow img {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: .3s;
}
form .qna .qnaInner select:focus {outline: 1px solid #052c69;}
form .qna .qnaInner select:focus + .arrow img {transform: rotate(270deg);}
form .qna .qnaInner input {
    width: 80%;
    height: 45px;
    line-height: 43px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin-top: 15px;
}
form .qna .qnaInner input::placeholder {color: #aaa;}
form .qna .eInner {
    display: flex;
    width: calc(100% - 150px);
    padding: 0 3%;
}
form .qna .eInner input {
    width: 20%;
    height: 45px;
    line-height: 43px;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin-top: 15px;
}
form .qna .eInner input::placeholder {color: #aaa;}
form .qna .eInner span {
    width: 3%;
    line-height: 75px;
    text-align: center;
    font-size: 1.4rem;
}
form .qna .eInner .eSelect {
    position: relative;
    width: 35%;
    height: 45px;
    margin-left: 2%;
    margin-top: 15px;
}
form .qna .eInner .eSelect > select {
    appearance: none;
    width: 100%;
    height: 45px;
    line-height: 43px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
form .qna .eInner .eSelect .arrow {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 13px;
    height: inherit;
}
form .qna .eInner .eSelect .arrow img {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: .3s;
}
form .qna .eInner .eSelect select:focus {outline: 1px solid #052c69;}
form .qna .eInner .eSelect select:focus + .arrow img {transform: rotate(270deg);}
form .content {height: 500px;}
form .content label {line-height: 498px;}
form .content .qnaInner {padding-top: 15px;}
form .content .editArea {
    width: 100%;
    height: 45px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}
form .content textarea {
    width: 100%;
    height: 425px;
    padding: 10px;
    border: 1px solid #ccc;
}
form .content textarea::placeholder {color: #aaa;}
form .content textarea:focus {outline: none;}
form .fileBox {
    display: flex;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #ddd;
}
form .fileBox .boxName {
    width: 150px;
    line-height: 73px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    background-color: rgba(5, 44, 105, 0.05);
}
form .fileBox .fileInner {
    position: relative; 
    width: calc(100% - 150px);
    padding: 0 3%;
}
form .fileBox .fileInner input[type="file"] {visibility: hidden;}
form .fileBox .fileInner p {
    width: 400px;
    height: 45px;
    line-height: 43px;
    font-size: 1.6rem;
    border: 1px solid #ddd;
    padding-left: 10px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
form .fileBox .fileInner label {
    position: absolute;
    top: 15px;
    left: 450px;
    width: 80px;
    height: 45px;
    line-height: 43px;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    background-color: #052c69;
    cursor: pointer;
}
form .fileBox .fileInner button {
    position: absolute;
    top: 15px;
    left: 540px;
    width: 80px;
    height: 45px;
    font-size: 1.4rem;
    color: #777;
    border: 1px solid #aaa;
}
form .fileBox .fileInner button:hover {color: #fff; background-color: #aaa;}
form .qnaBtn {
    display: flex;
    width: 450px;
    height: 50px;
    justify-content: space-between;
    margin: 80px auto 0;
}
form .qnaBtn input {
    width: 180px;
    height: 55px;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 10px;
    background-color: #052c69;
}
form .qnaBtn input[type="reset"] {
    color: #052c69;
    border: 1px solid #052c69;
    background-color: #fff;
}


/************ 문의구분추가 (inquiryManage) ************/
form .fileBox .boxInner {
    position: relative; 
    width: calc(100% - 150px);
    padding: 0 3%;
}
.boxInner input[type="text"] {
    width: 70%;
    height: 45px;
    line-height: 43px;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    padding-left: 10px;
    margin-top: 15px;
}
.boxInner input[type="text"]::placeholder {color: #aaa;}
.boxInner button {
    width: 60px;
    height: 40px;
    font-size: 1.4rem;
    color:  #E84743;;
    border-radius: 5px;
    border: 1px solid  #E84743;
    margin-left: 15px;
    transition: .2s;
}
.boxInner button:hover, .boxInner button:focus {
    color: #fff;
    background-color: #E84743;
}
form .addBtn {
    width: 100%;
    height: 40px;
    margin-top: 30px;
}
form .addBtn span {
    display: block;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 1.4rem;
    color: #052c69;
    border-radius: 5px;
    border: 1px solid #052c69;
    margin: 0 auto;
    cursor: pointer;
}
form .addBtn span::before {
    content: "+";
    line-height: 33px;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 5px; 
}
form .addBtn span:hover, form .addBtn span:focus {border: 2px solid #052c69;}

@media all and (max-width: 1280px) {
.eventWrap {width: 93.75%;}
.qnaWrap {width: 93.75%;}
}
@media all and (max-width: 1000px) {
.eventWrap {margin: 140px auto 100px;}

/************ 문의하기(qna_write) ************/
.qnaWrap {margin: 140px auto 100px;}
form .fileBox .fileInner p {width: 330px;}
form .fileBox .fileInner label {left: 370px;}
form .fileBox .fileInner button {left: 460px;}
}
@media all and (max-width: 768px) {
.eventWrap {margin: 110px auto 100px;}
.eventWrap h2 {font-size: 2.6rem;}
.eventTable .eventTitle {font-size: 1.4rem;}
.eventTable .content {font-size: 1.4rem;}
.addCon {width: 100%;height: 40px;}
.addCon a {
    width: 110px;
    line-height: 38px;
    font-size: 1.2rem;
    padding: 0 19px;
}
.addCon a span {margin: 11px 6px 0 0;}


/************ 문의하기(qna_write) ************/
.qnaWrap {margin: 110px auto 100px;}
.qnaWrap h2 {font-size: 2.6rem;}
.manageArea {height: 35px;}
.manageArea button {
    width: 80px;
    height: 35px;
    line-height: 33px;
    font-size: 1.2rem;
}
.qnaWrap form {margin-top: 10px;}
form .qna {
    height: 70px;
    font-size: 1.4rem;
}
form .qna label {
    width: 100px;
    line-height: 68px;
}
form .qna .qnaInner {width: calc(100% - 100px); padding: 0 2%;}
form .qna .qnaInner select {
    width: 100%;
    height: 40px;
    line-height: 38px;
}
form .qna .qnaInner .arrow {
    top: 30px;
    right: 10%;
}
form .qna .qnaInner input {
    width: 100%;
    height: 40px;
    line-height: 38px;
}
form .qna .eInner {
    width: calc(100% - 100px);
    padding: 0 2%;
}
form .qna .eInner input {
    width: 29%;
    height: 40px;
    line-height: 38px;
}
form .qna .eInner span {
    width: 5%;
    line-height: 70px;
    font-size: 1.2rem;
}
form .qna .eInner .eSelect {
    position: relative;
    width: 36%;
    height: 40px;
    margin-left: 1%;
    margin-top: 15px;
}
form .qna .eInner .eSelect > select {height: 40px; line-height: 38px;}
form .qna .eInner .eSelect .arrow {
    top: 15px;
    right: 10px;
    width: 11px;
}
form .content {height: 500px;}
form .content label {line-height: 498px;}
form .content .qnaInner {padding: 15px 2%;}
form .content textarea {
    width: 100%;
    height: 430px;
}
form .content .editArea {
    width: 100%;
    height: 40px;
}
form .content textarea {
    width: 100%;
    height: 430px;
}
form .content textarea::placeholder {color: #aaa;}
form .content textarea:focus {outline: none;}
form .fileBox {height: 70px;}
form .fileBox .boxName {
    width: 100px;
    line-height: 68px;
    font-size: 1.4rem;
}
form .fileBox .fileInner {
    width: calc(100% - 100px);
    padding: 0 2%;
}
form .fileBox .fileInner p {
    width: 195px;
    height: 40px;
    line-height: 38px;
    font-size: 1.4rem;
}
form .fileBox .fileInner label {
    left: 215px;
    width: 60px;
    height: 40px;
    line-height: 38px;
    font-size: 1.2rem;
}
form .fileBox .fileInner button {
    left: 280px;
    width: 60px;
    height: 40px;
    font-size: 1.2rem;
}
form .qnaBtn {
    width: 260px;
    height: 50px;
    margin: 60px auto 0;
}
form .qnaBtn input {
    width: 120px;
    height: 50px;
    font-size: 1.4rem;
}


/************ 문의구분추가 (inquiryManage) ************/
form .fileBox .boxInner {
    width: calc(100% - 100px);
    padding: 0 3%;
}
.boxInner input[type="text"] {
    height: 40px;
    line-height: 38px;
    font-size: 1.4rem;
}
.boxInner button {
    width: 50px;
    height: 30px;
    font-size: 1.2rem;
    transition: .2s;
}
form .addBtn {height: 35px;}
form .addBtn span {
    height: 35px;
    font-size: 1.4rem;
}
form .addBtn span::before {
    line-height: 30px;
    font-size: 2rem;
}
}
@media all and (max-width: 499px) {
form .qna {
    display: block;
    height: 90px;
    font-size: 1.4rem;
    padding: 10px;
    border-bottom: none;
}
form .qna label {
    width: 100%;
    height: 25px;
    line-height: 25px;
    background-color: transparent;
}
form .qna .qnaInner {width: 100%; height: 40px; padding: 0; margin-top: 0px;}
form .qna .qnaInner select {
    width: 100%;
    height: 40px;
    line-height: 38px;
    margin-top: 0;
}
form .qna .qnaInner .arrow {top: 15px; right: 5%;}
form .qna .qnaInner input {
    width: 100%;
    height: 40px;
    line-height: 38px;
    margin-top: 0;
}
form .qna .eInner {width: 100%; padding: 0;}
form .qna .eInner input {width: 30%;margin-top: 0;}
form .qna .eInner span {line-height: 40px;}
form .qna .eInner .eSelect {
    width: 34%;
    height: 40px;
    margin-left: 1%;
    margin-top: 0px;
}
form .content {display: block; height: 500px;}
form .content label {width: 100%; height: 25px; line-height: 25px;}
form .content .qnaInner {padding:0%;}
form .content .editArea {height: 40px;}
form .content textarea {height: 415px;}
form .fileBox {display: block; height: 90px; padding: 10px;}
form .fileBox .boxName {
    width: 100%;
    line-height: 25px;
    text-align: left;
    background-color: transparent;
}
form .fileBox .fileInner {width: 100%; padding: 0;}
form .fileBox .fileInner p {
    width: 195px;
    height: 40px;
    line-height: 38px;
    font-size: 1.1rem;
    margin-top: 0;
}
form .fileBox .fileInner label {top: 0; left: 205px;}
form .fileBox .fileInner button {top: 0; left: 270px;}
form .qnaBtn {width: 220px; height: 45px;}
form .qnaBtn input {width: 100px; height: 45px;}


/************ 문의구분추가 (inquiryManage) ************/
form .fileBox .boxInner {width: 100%; padding: 0;}
.boxInner input[type="text"] {margin-top: 0;}
}
@media all and (max-width: 450px) {
.eventWrap {margin: 100px auto 100px;}
.eventWrap h2 {font-size: 2.4rem; margin-bottom: 50px;}
.eventTable .eventTitle {height: 55px; line-height: 53px; font-size: 1.2rem;}
.eventTable .content {height: 55px; line-height: 53px;font-size: 1.1rem;}
.addCon {width: 100%;height: 34px;}
.addCon a {
    width: 95px;
    line-height: 33px;
    font-size: 1.1rem;
    padding: 0 13px;
}
.addCon a span {margin: 9px 5px 0 0;}
}
